{% extends 'tienda/padre.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="container mt-5 text-center">
    <h1 class="mb-4">Bienvenido a <span class="text-primary">TechShop</span></h1>
    <p class="lead">¡Gracias por visitar nuestro sitio!</p>
    <img src="{% static 'images/tech_banner.jpg' %}" class="img-fluid w-100 mb-4" alt="Imagen de bienvenida">
    
    <div class="d-grid gap-3 col-6 mx-auto mt-4">
        <a href="{% url 'buscar_producto' %}" class="btn btn-outline-info btn-lg">Buscar Producto</a>
        <a href="{% url 'listar_publicaciones' %}" class="btn btn-primary btn-lg">Ver Publicaciones</a>
    </div>
</div>

{% endblock %}