{% extends 'tienda/padre.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-4">Bienvenido a <span class="text-primary">TechShop</span></h1>
        <p class="lead">¡Gracias por visitar nuestra tienda tecnológica!</p>
    </div>

    <div class="card shadow-sm mb-4">
        <img src="{% static 'images/tech_banner.jpg' %}" class="card-img-top" alt="Imagen de bienvenida">
        <div class="card-body">
            <p class="card-text lead text-center">
                <strong>TechShop</strong> es tu espacio para gestionar productos, empleados y clientes,
                así como para publicar novedades o consultar los productos registrados.
            </p>
            <p class="card-text lead text-center">
                Desde el menú de navegación podés acceder a las secciones principales como <em>publicaciones</em>, <em>contacto</em>, <em>perfil</em> y más.
            </p>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'buscar_producto' %}" class="btn btn-primary btn-lg">Buscar productos</a>
    </div>
</div>
{% endblock %}